body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: red;
}

footer {
  height: 200px;
  width: auto;
  background-color: white;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-content {
  display: flex;
  flex-direction: row;
}

.menu-bar, .menu-content {
  height: 50px;
}

.logo {
  width: 40%;
  background-color: black;
  height: auto;
}

.menu-bar {
  width: 100%;
  background-color: white;
}

.menu-content {
  width: auto;
  background-color: yellow;
}

.higlights {
  height: auto;
  width: auto;
  background-color: teal;
}

.latest-funding {
  height: 500px;
  width: auto;
  background-color: violet;
}

.faColor {
  color: #333333;
}

.black-bar-links {
  width: auto;
  background-color: black;
  height: 2rem;
  display: none;
}

.white-bar-links {
  width: auto;
  height: 2rem;
  background-color: white;
  display: none;
}

.mobile-bar {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.social-icons {
  display: flex;
  flex-direction: column;
  background-color: darkgray;
}

.social-icons div:nth-of-type(1) {
  text-align: center;
  padding: 2rem 0;
}

.social-icons div:nth-of-type(2) {
  text-align: center;
  padding-bottom: 2rem;
  text-decoration: none;
}

.social-icons div a {
  text-decoration: none;
  font-size: 13px;
  padding: 0 5px;
}

.footer-content {
  background-color: #000;
  color: #fff;
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.footer-content>div>p {
  margin: 5px 0;
}

.footer-content>div>a {
  color: #fff;
}

.higlight-card {
  height: 200px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  padding: 10px;
}

.latest-news h2 {
  margin: 10px 20px;
}

.ln-card {
  display: flex;
  margin: 10px 20px;
}

.ln-card img {
  width: 5rem;
  height: 5rem;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.ln-card-text {
  display: flex;
  flex-direction: column;
}

.ln-card-text p,
.ln-card-text h3 {
  margin: 0;
  padding: 0 10px;
}

@media only screen and (min-width: 768px) {
  .white-bar-links {
    display: block;
  }
  .black-bar-links {
    display: block;
  }
  .menu-bar {
    display: none;
  }
  .footer-content {
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0;
  }
}

@media only screen and (min-width: 1024px) {
  .white-bar-links {
    display: block;
  }
  .black-bar-links {
    display: block;
  }
  .menu-bar, .logo {
    display: none;
  }
  .footer-content {
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0;
  }
}